<!-- <div class="col-md-6 col-md-offset-3"> -->
	<header class="text-center">
	<h3>Register</h3>
	</header>
	<form name="registerForm">
		<div class="row form-group">
		<div class="col-md-6" >
			<label>First Name</label>
			<input type="text" name="fname" class="form-control">
			<label>Last Name</label>
			<input type="text" name="lname" class="form-control">
			<label>Email</label>
			<input type="email" name="email" class="form-control">
			<label>Confirm Email</label>
			<input type="email" name="cemail" class="form-control">
			</div>
		<div class="col-md-6">
			<label>Password</label>
			<input type="password" name="password" class="form-control">
			<label>Confirm Password</label>
			<input type="password" name="cpassword" class="form-control">
			<label>Image</label>
		</div>
		</div>
		<button type="submit" class="btn btn-primary pull-right">Register</button>
	</form>
	<p class="text-left">Already a member? <a href="/login">Login here</a></p>
<!-- </div> -->
